@* @model IList<string>
 *@
 @{
    ViewData["Title"] = "Home Page";
}

@* @Html.Partial("~/Views/Shared/_navbar.cshtml", Model)
 *@<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 *@</div>
